<!DOCTYPE html>
<html lang="en">

<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script type="text/javascript">
		var theme = localStorage.getItem('data-theme');
		var root = document.documentElement;
		if (theme === 'dark' && theme !== undefined) {
			root.classList.add('dark-mode');
		} else {
			root.classList.remove('dark-mode');
		}
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/splide-master/dist/css/splide.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/tour-detail copy 2.css">
	<link rel="stylesheet" type="text/css" href="assets/css/camping-detail.css">
	<!--구글 폰트-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<script>
			function categoryChange(e) {
	var good_a = ["강남구", "강동구", "구로구", "영등포구"];
	var good_b = ["양평", "남양주", "광주", "용인"];
	var good_c = ["서구", "동구", "중구", "연수구", "미추홀구"];
	var target = document.getElementById("good");

	if(e.value == "a") var d = good_a;
	else if(e.value == "b") var d = good_b;
	else if(e.value == "c") var d = good_c;

	target.options.length = 0;

	for (x in d) {
		var opt = document.createElement("option");
		opt.value = d[x];
		opt.innerHTML = d[x];
		target.appendChild(opt);
	}	
}
			</script>
			

</head>

<body>



	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<section class="py-0">
			<div>
				<img class="col-12 background-size:cover" src="assets/campongimg/campingDetail.png" />

			</div>
		</section>


		<!-- 상세검색 시작-->
		<section class="pt-2 pt-lg-2 mb-0 mt-lg-0">
			
			<!-- 키워드검색 시작-->
			<div class="container position-relative" style="background-color:beige">
				<div class="row mt-4">
					<div class="col-12 mt-3 border-bottom">
						<h5 class="detailSearchIcon">◎</h5>
						<h5 class="detailSearch">
							상세검색</h5>
					</div>
					<div class="area col-4 mt-1">
						<p>지역</p>
					</div>
					<div class="tema col-7 mt-1 mb-0">
						<p>테마</p>
					</div >
					<div class="col-4 mt-0">
						<select class="select" onchange="categoryChange(this)">
							<option>전체</option>
							<option value="a">서울</option>
							<option value="b">경기도</option>
							<option value="c">인천</option>
						</select>
						
						<select id="good">
						<option>전체</option>
						</select>
						<select name="h_area1" onChange="cat1_change(this.value,h_area2)" class="h_area1">
							<option>-선택-</option>
							<option value='1'>서울</option>
							<option value='2'>부산</option>
							<option value='3'>대구</option>
							<option value='4'>인천</option>
							<option value='5'>광주</option>
							<option value='6'>대전</option>
							<option value='7'>울산</option>
							<option value='8'>강원</option>
							<option value='9'>경기</option>
							<option value='10'>경남</option>
							<option value='11'>경북</option>
							<option value='12' >전남</option>
							<option value='13'>전북</option>
							<option value='14'>제주</option>
							<option value='15'>충남</option>
							<option value='16'>충북</option>
						  </select>
						  <select name="h_area2" onChange="cat2_change(this.value)">
							<option>-선택-</option>
						  </select>
					</div>
					<div class="col-8">
						<input class="allTema" type="text" placeholder="전체테마" />
					</div>
					<div class="col-12 mt-4 mb-0">
						<p>키워드검색</p>
					</div>
					<div class="col-6 mt-0 pt-0 mb-3">
						<input type="text" class="w-100" placeholder="검색어를 입력하세요." />
					</div>
					<div class="col-6">
						<input type="submit" value="캠핑장 검색" />
					</div>
				</div>
				<div class="row">

				</div>
			</div>
			<!-- 키워드검색 끝 -->

			<!-- 체크박스 시작 -->
			<div class="container position-relative border">
				<div class="row">
					<div class="col-1 pt-lg-2 border-bottom">
						<p class="">테마별</p>
					</div>
					<div class="col-11 pt-2 border-bottom">
						<input type="checkbox" name="checkedTema" /> <span class="me-3">일출명소</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">일몰명소</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">수상레저</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">항공레저</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">스키</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">낚시</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">엑티비티</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">봄꽃여행</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">여름물놀이</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">가을단풍명소</span>
						<br>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">겨울눈꽃명소</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">걷기길</span>
					</div>
					<div class="col-1 pt-lg-2 border-bottom">
						<p class="">부대시설</p>
					</div>
					<div class="col-11 pt-2 border-bottom">
						<input type="checkbox" name="checkedTema" /> <span class="me-3">전기</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">무선인터넷</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">장작판매</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">온수</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">트렘폴린</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">물놀이장</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">놀이터</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">산책로</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">운동장</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">운동시설</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">마트,편의점</span>
					</div>
					<div class="col-1 pt-lg-2 border-bottom">
						<p class="">기타정보</p>
					</div>
					<div class="col-11 pt-2 border-bottom">
						<input type="checkbox" name="checkedTema" /> <span class="me-3">개인 트레일러 입장가능</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">개인 캠핑카 입장가능</span>
						<input type="checkbox" name="checkedTema" /> <span class="me-3">반려 동물 동반가능</span>
						<br />
						<p>(※ 실제 결과는 현장사정 및 계절에 따라 달라질수 있으니 캠핑장 사업주에 직접 확인 후 이용바랍니다)</p>
					</div>
				</div>
			</div>
			<!-- 체크 박스 끝 -->
		</section>
		<!-- =======================
Main Banner END -->
		<!-- =======================
Tabs START -->

		<!--여행지 제목 -->
		<section class="pt-0">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<div class="mb-1">총 <span class="campNum">3348</span>개의 캠핑장이 검색되었습니다.</div>
					</div>
					<div class="col-8 text-lg-end">
						<btn class= "text-secondary">최신순</btn>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="camping">
					<!--캠핑 아이템1-->
					<div class="camping row border-bottom">
						<div class="col-4 mt-4 mb-3">
							<img class="campImg" src="assets/campongimg/cloud.png">
						</div>
						<div class="col-8 mt-4">
							<div class="review">리뷰수0</div>
							<div class="views">조회수0</div>
							<div class="recommend">추천수0</div>
							<div class="areaCampname">
							<div class="area"><a>[경기도 가평군]</a></div>
							<div class="campName"><a>[트라움 풀 빌라 글램핑&카라반]</a></div>
							</div>
							<p class="fw-bold mt-3"><i class="bi bi-geo-alt me-2"></i> 경기 포천시 이동면 놈바위길 201-3
								<a href="#" class="ms-2 text-decoration-underline" data-bs-toggle="modal" data-bs-target="#mapmodal">
								</a>
							</p>
							<div class="iconBar">
								<div class="row">
									<div class="col-1">
										<img class="campLogo" src="assets/campongimg/cloud.png"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--캠핑 아이템1끝-->
					
				</div>
			</div>
		</section>
		
		<!--여행지 제목-->





		<!-- =======================
Tabs-content START -->
		<section class="pt-4 pt-md-5">
			<div class="container">
			</div>
		</section>
		<!-- Right side content END -->



		<!-- Content item END -->

		<!-- Content item START -->
		<div class="tab-pane fade" id="tour-pills-tab2" role="tabpanel" aria-labelledby="tour-pills-tab-2">
			<div class="card bg-transparent p-0">
				<!-- Card header -->
				<div class="card-header bg-transparent border-bottom p-0 pb-3">
					<h3 class="mb-0">Itinerary</h3>
				</div>


				<!-- Card body END -->
			</div>
		</div>
		<!-- Content item END -->

		<!-- Content item START -->
		<div class="tab-pane fade" id="tour-pills-tab3" role="tabpanel" aria-labelledby="tour-pills-tab-3">
			<div class="card bg-transparent p-0">
				<!-- Card header -->
				<div class="card-header bg-transparent border-bottom p-0 pb-3">
					<h3 class="mb-0">Inclusions & Exclusions</h3>
				</div>

				<!-- Card body START -->
				<div class="card-body p-0 pt-3">
					<!-- List -->
					<h5>Inclusion</h5>
					<ul class="list-group list-group-borderless mb-3">
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-check text-success me-2"></i>
							<span class="h6 fw-normal">Comfortable stay for 4 nights in your preferred category
								Hotels</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-check text-success me-2"></i>
							<span class="h6 fw-normal">Professional English speaking guide to help you explore
								the cities</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-check text-success me-2"></i>
							<span class="h6 fw-normal"> Breakfast is included as mentioned in Itinerary.</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-check text-success me-2"></i>
							<span class="h6 fw-normal">Per Peron rate on twin sharing basis</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-check text-success me-2"></i>
							<span class="h6 fw-normal">Entrance Tickets to Genting Indoor Theme Park</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-check text-success me-2"></i>
							<span class="h6 fw-normal">All Tours & Transfers on Seat In Coach Basis</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-check text-success me-2"></i>
							<span class="h6 fw-normal">Visit Bali Safari & Marine Park with Jungle Hopper
								Pass</span>
						</li>
					</ul>

					<!-- List -->
					<h5>Exclusion</h5>
					<ul class="list-group list-group-borderless mb-3">
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-times text-danger me-2"></i>
							<span class="h6 fw-normal">Lunch and dinner are not included in CP plans</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-times text-danger me-2"></i>
							<span class="h6 fw-normal">Any other services not specifically mentioned in the
								inclusions</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-times text-danger me-2"></i>
							<span class="h6 fw-normal">Medical and Travel insurance</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-times text-danger me-2"></i>
							<span class="h6 fw-normal">Airfare is not included</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-times text-danger me-2"></i>
							<span class="h6 fw-normal">Early Check-In & Late Check-Out</span>
						</li>
						<li class="list-group-item d-flex mb-0"><i class="fa-solid fa-times text-danger me-2"></i>
							<span class="h6 fw-normal">Anything which is not specified in Inclusions</span>
						</li>
					</ul>
				</div>
				<!-- Card body END -->
			</div>
		</div>
		<!-- Content item END -->

		<!-- Content item START -->
		<div class="tab-pane fade" id="tour-pills-tab4" role="tabpanel" aria-labelledby="tour-pills-tab-4">
			<div class="card bg-transparent p-0">
				<!-- Card header -->
				<div class="card-header bg-transparent border-bottom p-0 pb-3">
					<h3 class="mb-0">Tour Policy</h3>
				</div>

				<!-- Card body START -->
				<div class="card-body p-0 pt-3">
					<h5>Confirmation Policy:</h5>
					<p class="mb-2">The customer receives a confirmation voucher via email within 24 hours of
						successful booking.</p>
					<p class="mb-2">In case the preferred slots are unavailable, an alternate schedule of the
						customer’s preference will be arranged and a new confirmation voucher will be sent via
						email.</p>
					<p class="mb-0">Alternatively, the customer may choose to cancel their booking before
						confirmation and a full refund will be processed.</p>

					<!-- List -->
					<h5 class="mt-4">Cancellation Policy:</h5>
					<ul class="list-group list-group-borderless">
						<li class="list-group-item">
							<span class="h6 fw-normal me-1 mb-0"><i class="bi bi-dot"></i>10 days:</span>
							<span>100%</span>
						</li>
						<li class="list-group-item">
							<span class="h6 fw-normal me-1 mb-0"><i class="bi bi-dot"></i>10 to 15 days:</span>
							<span>75% + Non Refundable Component</span>
						</li>
						<li class="list-group-item">
							<span class="h6 fw-normal me-1 mb-0"><i class="bi bi-dot"></i>15 to 30 days:</span>
							<span>30% + Non Refundable Component</span>
						</li>
						<li class="list-group-item">
							<span class="h6 fw-normal me-1 mb-0"><i class="bi bi-dot"></i>10Hotel / Air:</span>
							<span>100% in case of non-refundable ticket / Hotel Room</span>
						</li>
						<li class="list-group-item">
							<span class="h6 fw-normal me-1 mb-0"><i class="bi bi-dot"></i>10Cruise /
								Visa:</span>
							<span>On Actuals</span>
						</li>
					</ul>

					<p class="mt-2">All Prices are in Indian Rupees and subject to change without prior
						notice.<br>In the case FIT flight inclusive package, the full amount of the flight will
						be payable at the time of booking.</p>

					<h5 class="mt-4">Refund Policy:</h5>
					<p class="mb-2">The applicable refund amount will be processed within 10 business days.</p>
					<p class="mb-0">All applicable refunds will be done in the traveler's Thrillophilia wallet
						as Thrillcash.</p>
				</div>
				<!-- Card body END -->
			</div>
		</div>
		<!-- Content item END -->

		</div>
		</div>
		<!-- Tabs Content END -->

		<!-- Right side content START -->

		</div> <!-- Row END -->
		</div>
		</section>
		<!-- =======================
Tabs-content END -->







	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- =======================
Footer START -->
	<footer class="bg-dark pt-5">
		<div class="container">
			<!-- Row START -->
			<div class="row g-4">

				<!-- Widget 1 START -->
				<div class="col-lg-3">
					<!-- logo -->
					<a href="index.html">
						<img class="h-40px" src="assets/images/logo-light.svg" alt="logo">
					</a>
					<p class="my-3 text-muted">Departure defective arranging rapturous did believe him all had
						supported.</p>
					<p class="mb-2"><a href="#" class="text-muted text-primary-hover"><i
								class="bi bi-telephone me-2"></i>+1234 568 963</a> </p>
					<p class="mb-0"><a href="#" class="text-muted text-primary-hover"><i
								class="bi bi-envelope me-2"></i>example@gmail.com</a></p>
				</div>
				<!-- Widget 1 END -->

				<!-- Widget 2 START -->
				<div class="col-lg-8 ms-auto">
					<div class="row g-4">
						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Page</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#">About us</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Contact us</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">News and Blog</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Meet a Team</a></li>
							</ul>
						</div>

						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Link</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#">Sign up</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Sign in</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Privacy Policy</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Terms</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Cookie</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Support</a></li>
							</ul>
						</div>

						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Global Site</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#">India</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">California</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Indonesia</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Canada</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Malaysia</a></li>
							</ul>
						</div>

						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Booking</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-hotel me-2"></i>Hotel</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-plane me-2"></i>Flight</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-globe-americas me-2"></i>Tour</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-car me-2"></i>Cabs</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Widget 2 END -->

			</div><!-- Row END -->

			<!-- Tops Links -->
			<div class="row mt-5">
				<h5 class="mb-2 text-white">Top Links</h5>
				<ul class="list-inline text-primary-hover lh-lg">
					<li class="list-inline-item"><a href="#" class="text-muted">Flights</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Hotels</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Tours</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Cabs</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">About</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Contact us</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Blogs</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Services</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Detail page</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Services</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Policy</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Testimonials</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Newsletters</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Podcasts</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Protests</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">NewsCyber</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Education</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Sports</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Tech and Auto</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Opinion</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Share Market</a></li>
				</ul>
			</div>

			<!-- Payment and card -->
			<div class="row g-4 justify-content-between mt-0 mt-md-2">

				<!-- Payment card -->
				<div class="col-sm-7 col-md-6 col-lg-4">
					<h5 class="text-white mb-2">Payment & Security</h5>
					<ul class="list-inline mb-0 mt-3">
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/paypal.svg"
									class="h-30px" alt=""></a></li>
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/visa.svg"
									class="h-30px" alt=""></a></li>
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/mastercard.svg"
									class="h-30px" alt=""></a></li>
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/expresscard.svg"
									class="h-30px" alt=""></a></li>
					</ul>
				</div>

				<!-- Social media icon -->
				<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
					<h5 class="text-white mb-2">Follow us on</h5>
					<ul class="list-inline mb-0 mt-3">
						<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i
									class="fab fa-fw fa-facebook-f"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i
									class="fab fa-fw fa-instagram"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i
									class="fab fa-fw fa-twitter"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i
									class="fab fa-fw fa-linkedin-in"></i></a> </li>
					</ul>
				</div>
			</div>

			<!-- Divider -->
			<hr class="mt-4 mb-0">

			<!-- Bottom footer -->
			<div class="row">
				<div class="container">
					<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
						<!-- copyright text -->
						<div class="text-muted text-primary-hover"> Copyrights <a href="#" class="text-muted">©2022
								Booking</a>. All rights reserved. </div>
						<!-- copyright links-->
						<div class="nav mt-2 mt-lg-0">
							<ul class="list-inline text-primary-hover mx-auto mb-0">
								<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Privacy
										policy</a></li>
								<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Terms and
										conditions</a></li>
								<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted pe-0"
										href="#">Refund policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- =======================
Footer END -->

	<!-- Send Inquiry START -->
	<div class="modal fade" id="inquiryForm" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Title -->
				<div class="modal-header">
					<h5 class="modal-title" id="inquiryFormlabel">Get Inquiry</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<!-- Body -->
				<div class="modal-body p-3">
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header bg-transparent">
							<!-- Title -->
							<h6 class="card-title mb-0">Our expert will get in touch with you shortly</h6>
						</div>

						<!-- Card body -->
						<div class="card-body pt-0">

							<form>
								<!-- Name -->
								<div class="mb-3">
									<label class="form-label">Name</label>
									<input type="text" class="form-control" placeholder="Enter Your name">
								</div>
								<!-- Email -->
								<div class="mb-3">
									<label class="form-label">Email id</label>
									<input type="email" class="form-control" placeholder="Enter Your emil id">
								</div>
								<!-- Phone number -->
								<div class="mb-3">
									<label class="form-label">Phone number</label>
									<input type="text" class="form-control" placeholder="Enter Your phone number">
								</div>

								<div class="mb-3 ms-2 form-check">
									<input type="checkbox" class="form-check-input" id="inquiryCheck">
									<label class="form-check-label" for="inquiryCheck">I agree to receive updates and
										offers</label>
								</div>

								<!-- Buttons -->
								<div class="d-grid gap-2 d-md-block">
									<button class="btn btn-dark mb-0" type="button">Send Inquiry</button>
									<button class="btn btn-link mb-0" type="button">Call on: +123 456 89</button>
								</div>
							</form> <!-- Form END -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Send Inquiry END -->

	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- Bootstrap JS -->
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></scrip>

	<!-- Vendors -->
	<script src="assets/vendor/splide-master/dist/js/splide.min.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.js"></script>

	<!-- ThemeFunctions -->
	<script src="assets/js/functions.js"></script>

</body>

</html>