<!DOCTYPE html>
<html lang="en">
<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script type="text/javascript">
		var theme = localStorage.getItem('data-theme');
		var root = document.documentElement;
		if (theme === 'dark' && theme !== undefined) {
			root.classList.add('dark-mode');
		} else {
			root.classList.remove('dark-mode');
		}
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/flatpickr/css/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/camping-detail.css">
</head>

<body>
			<!-- Header START -->
<header class="header-transparent" id="header">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-dark navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="navbar-brand-item" src="assets/campongimg/campong.png" alt="logo">
			</a>
			<!-- Logo END -->

      <!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto me-3 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<nav class="navbar-collapse collapse nav-item d-flex justify-content-between" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll mx-auto align-items-center ">

					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">캠핑</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							
							<li> <a class="dropdown-item" href="booking-confirm.html">캠핑장</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">백패킹</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">쇼핑</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							
							<li> <a class="dropdown-item" href="booking-confirm.html">쇼핑메인</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">장바구니</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							<li> <a class="dropdown-item" href="booking-confirm.html">게시판</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">캠핑모임</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">캠핑꿀팁</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">교통</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							<li> <a class="dropdown-item" href="booking-confirm.html">렌트카</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">고속버스</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">열차</a></li>
						</ul>
					</li>
					<!-- Nav item Link -->
					<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">행사</a> </li>
				</ul>
				<!-- 헤더 가운데 끝-->
				<!-- 헤더 오른쪽 -->
				<!--로그인전-->
				 <div class="">
				<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
					<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">로그인</a> </li>
				</ul>
				</div>
				<!-- 로그인후 -->
				<!--<div class="">
					<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
						<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">닉네임</a> </li>
					</ul>
				</div>
				<div class="">
					<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
						<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">로그아웃</a> </li>
					</ul>
				</div>-->
				<!-- 로그인후 끝-->
			</nav>
		
			
			
			
			
			<!--
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
				<li class="nav-item dropdown">
					<li class="nav-item"> <a class="nav-link" href="#" id="nickname" style="color:aliceblue">xx님</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#" id="nickname" style="color:aliceblue">로그아웃</a> </li>
				</li>
			</ul>
			-->
		
			

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>


<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
Main Title START -->
<section class="py-0 mb-0 pd-0">
	<img class="col-12" src="assets/campongimg/campingDetail.png"/>
	
	<div class="container position-relative">
		<p class="fs-5 mt-3 mb-0">홈 > 캠핑 > 캠핑장 > 상세</p>
	</div>
</section>
<!-- =======================
Main Title END -->

<!-- 대표 사진 -->
<section class="card-grid pt-0 pb-2">
	<div class="container">
		<div class="row g-0">
			<!-- 대표 이미지 -->
			<div class="col-md-12">
				<a data-glightbox data-gallery="gallery" href="assets/campongimg/campingDetail.png">
					<div class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(assets/campongimg/campingDetail.png); background-position: center left; background-size: cover;">
						<!-- Card hover element -->
						<div class="hover-element position-absolute w-100 h-100">
							<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
						</div>
					</div>
				</a>
			</div>
			<!-- 대표 이미지끝-->
		</div>
	</div>
</section>
<!-- 슬라이드 바깥쪽 시작-->
<section class="pb-0 pt-0">
	<div class="container">

		<!-- 슬라이드안쪽시작 -->
		<div class="tiny-slider arrow-round arrow-blur arrow-hover">
			<div class="tiny-slider-inner mb-6" data-autoplay="true" data-arrow="true" data-edge="4" data-dots="false" data-items-xl="3" data-items-lg="3" data-items-md="2" data-items-sm="1" >
				
				

				<!-- 이미지2 -->
				<div>
					<div class="card">
						<img src="assets/images/offer/07.jpg" class="card-img" alt="" style="border-radius:0">
					</div>
				</div>
				<!-- 이미지2 끝 -->

				<!-- 이미지3 -->
				<div>
					<div class="card" id="slideCard">
						<img src="assets/images/offer/08.jpg" class="card-img" alt="" style="border-radius:0">
					</div>
				</div>
				<!-- 이미지3끝 -->

				<!-- 이미지4 -->
				<div>
					<div class="card">
						<img src="assets/images/offer/05.jpg" class="card-img" alt="" style="border-radius:0">
					</div>
				</div>
				<!--이미지4 끝-->
				<!-- 이미지1 -->
				<div>
					<div class="card">
						<img src="assets/images/offer/06.jpg" class="card-img" alt="" style="border-radius:0">
					</div>
				</div>
				<!-- 이미지1 끝 -->
			</div>	
		</div>
		<!-- 슬라이드 안쪽끝 -->
	</div>
</section>
<!-- 슬라이드 바깥끝-->
<!-- =======================
Image gallery END -->

<!--여행지 제목 -->
<section class="pt-0">
	<div class="container">
		<h3 class="mb-1">장경리해변 야영장</h3>
		<p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i> 인천광역시 웅진군 영흥면 내리 1626-38
			<a href="#" class="ms-2 text-decoration-underline" data-bs-toggle="modal" data-bs-target="#mapmodal"></a>
		</p>
		<!--소개-->
		<div class="campIntro mt-3">
		<p>장경리해수욕장 야영장은 영흥도의 서쪽자락에 위치하고 있다.<br>
			수도권에서 최고의 해수욕장으로 꼽히는 장경리해변에 맞닿어 있어 야영장에서 곧바로 해수욕과 갯벌체험등 바다를 즐길 수 있다.<br><br>
			해변 왼쪽 물놀이장 옆으로 길게 조성되어 있는 야영장은 덮개가 있는 원두막형 해변<br>
			데크시설과 소나무숲 속 보도블록 데크로 나뉘어져 있다.

		</p>
		</div>
		<!--소개-->
	</div>
</section>
<!--여행지 제목-->


<!--탭메뉴 시작-->
<section class="pt-0">
	<div class="container vstack gap-4">
		<!-- Title START -->
		<div class="row">
			<div class="col-12">
			</div>
		</div>
		<!-- Title END -->

		<!-- Tabs START -->
		<div class="row g-4">
			<div class="col-12">
				<div class="bg-light pb-0 px-2 px-lg-0">
					<ul class="nav nav-tabs nav-bottom-line nav-responsive border-0 nav-justified" role="tablist">
						<li class="nav-item"> <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1">캠핑장 이용안내</a> </li>
						<li class="nav-item"> <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2">위치 정보</a> </li>
						<li class="nav-item"> <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3">여행 후기</a> </li>
					</ul>
				</div>
			</div>
		</div>	
		<!-- Tabs END -->

		<!-- 탭 안에 내용시작 -->
		<div class="row g-4">
			<div class="col-12">
				<div class="tab-content">
					<!-- 캠핑장이용안내 탭 시작 -->
					<div class="tab-pane show active" id="tab-1">
						<div class="row g-4">
							<div class="col-6">
								<div class="line row fw-bold">캠핑장 안내</div>
								<div class="row mt-3">
									<div class="campInfo col-3 fw-bold">
										<div>문의처</div>
										<div>캠핑장 환경</div>
										<div>캠핑장 유형</div>
										<div>운영시간</div>
										<div>예약방법</div>
										<div>주변이용가능시설</div>
									</div>
									<div class="campInfoRe col-9">
										<div>032-880-0450</div>
										<div>해변/지자체</div>
										<div>일반야영장</div>
										<div>평일 + 주말</div>
										<div>온라인 실시간 예약</div>
										<div>수상레저,해수욕</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<!--캠핑장 시설정보-->
								<div class="line row fw-bold">캠핑장 시설 정보</div>
									<div class="facilityBox">
										<div class="iconBar">
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/electronic.png"/>
												<div class="emoteName">전기</div>
											</div>
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/firewood.png"/>
												<div class="emoteName">장작판매</div>
											</div>
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/onsu.png"/>
												<div class="emoteName">온수</div>
											</div>
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/swim.png"/>
												<div class="emoteName">물놀이장</div>
											</div>
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/tree.png"/>
												<div class="emoteName">산책로</div>
											</div>
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/playground.png"/>
												<div class="emoteName">운동장</div>
											</div>
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/mart.png"/>
												<div class="emoteName">마트,편의</div>
											</div>
											<div class="emoteGroup">
												<img class="emote" src="assets/campongimg/playground.png"/>
												<div class="emoteName">운동장</div>
											</div>
										</div>
									</div>
									
								<div class="line row fw-bold mt-5">캠핑장 부대 시설</div>
								<div class="row mt-3">
									<div class="campInfo col-3 fw-bold">
										<div>주요시설</div>
										<div>기타정보</div>
										<div>화로대</div>
										<div>안전시설현황</div>
									</div>
									<div class="campInfoRe col-9">
										<div>일반야영장(26명)</div>
										<div>반려동물 동반 불가능</div>
										<div>개별</div>
										<div></div>
									</div>
								</div>
							
							</div>
								<!--캠핑장 시설정보 끝-->
							<!--캠핑장 부대 시설-->
							
						</div>
					</div>
					<!-- 캠핑장 이용안내 탭 끝-->

					<!-- 위치정보 탭 시작 -->
					<div class="tab-pane" id="tab-2">
						<div class="card mb-4">
							<img class="jido" src="assets/campongimg/jido.jpg">
						</div>
					</div>
					<!-- 위치정보 탭 끝 -->

					<!-- Tab content 3 START -->
					<div class="tab-pane" id="tab-3">
						<div class="row g-4">
							<div class="travelReview col-12">

								<!--답글페이지-->
								<div class="bg-light rounded p-3">
									<!-- Review item START -->
									<div class="d-sm-flex justify-content-between">
										<!-- Avatar image -->
										<div class="d-sm-flex align-items-center mb-3">
											<img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
											<!-- Title -->
											<div>
												<h6 class="m-0">닉네임</h6>
												<span class="me-3 small">2023-01-25</span>
											</div>
										</div>
										<!-- Review star -->
										<ul class="list-inline mb-2 mb-sm-0">
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="far fa-star text-warning"></i></li>
										</ul>	
									</div>
		
									<!-- Content -->
									<h6 class="fw-bold"><span class="text-body"></span> 여행가서 재밌었다</h6>
									<p>장경리해변 최고</p>
									
									<!-- Image -->
									<div class="row g-4">
										<div class="col-4 col-sm-3 col-lg-2">
											<a href="assets/images/category/hotel/4by3/07.jpg" data-glightbox data-gallery="gallery">
												<img src="assets/images/category/hotel/4by3/07.jpg" class="rounded" alt="">
											</a>
										</div>
										<div class="col-4 col-sm-3 col-lg-2">
											<a href="assets/images/category/hotel/4by3/08.jpg" data-glightbox data-gallery="gallery">
												<img src="assets/images/category/hotel/4by3/08.jpg" class="rounded" alt="">
											</a>
										</div>
									</div>
								</div>
								<!--댓글 끝-->
								<hr> <!-- Divider -->
							</div>
						</div>
						<div class="row g-4">
							<div class="travelReview col-12">

								<!--답글페이지-->
								<div class="bg-light rounded p-3">
									<!-- Review item START -->
									<div class="d-sm-flex justify-content-between">
										<!-- Avatar image -->
										<div class="d-sm-flex align-items-center mb-3">
											<img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
											<!-- Title -->
											<div>
												<h6 class="m-0">닉네임</h6>
												<span class="me-3 small">2023-01-25</span>
											</div>
										</div>
										<!-- Review star -->
										<ul class="list-inline mb-2 mb-sm-0">
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="far fa-star text-warning"></i></li>
										</ul>	
									</div>
		
									<!-- Content -->
									<h6 class="fw-bold"><span class="text-body"></span> 여행가서 재밌었다</h6>
									<p>장경리해변 최고</p>
									
									<!-- Image -->
									<div class="row g-4">
										<div class="col-4 col-sm-3 col-lg-2">
											<a href="assets/images/category/hotel/4by3/07.jpg" data-glightbox data-gallery="gallery">
												<img src="assets/images/category/hotel/4by3/07.jpg" class="rounded" alt="">
											</a>
										</div>
										<div class="col-4 col-sm-3 col-lg-2">
											<a href="assets/images/category/hotel/4by3/08.jpg" data-glightbox data-gallery="gallery">
												<img src="assets/images/category/hotel/4by3/08.jpg" class="rounded" alt="">
											</a>
										</div>
									</div>
								</div>
								<!--댓글 끝-->
								<hr> <!-- Divider -->
							</div>
						</div>
						<div class="row g-4">
							<div class="travelReview col-12">

								<!--답글페이지-->
								<div class="bg-light rounded p-3">
									<!-- Review item START -->
									<div class="d-sm-flex justify-content-between">
										<!-- Avatar image -->
										<div class="d-sm-flex align-items-center mb-3">
											<img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
											<!-- Title -->
											<div>
												<h6 class="m-0">닉네임</h6>
												<span class="me-3 small">2023-01-25</span>
											</div>
										</div>
										<!-- Review star -->
										<ul class="list-inline mb-2 mb-sm-0">
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="far fa-star text-warning"></i></li>
										</ul>	
									</div>
		
									<!-- Content -->
									<h6 class="fw-bold"><span class="text-body"></span> 여행가서 재밌었다</h6>
									<p>장경리해변 최고</p>
									
									<!-- Image -->
									<div class="row g-4">
										<div class="col-4 col-sm-3 col-lg-2">
											<a href="assets/images/category/hotel/4by3/07.jpg" data-glightbox data-gallery="gallery">
												<img src="assets/images/category/hotel/4by3/07.jpg" class="rounded" alt="">
											</a>
										</div>
										<div class="col-4 col-sm-3 col-lg-2">
											<a href="assets/images/category/hotel/4by3/08.jpg" data-glightbox data-gallery="gallery">
												<img src="assets/images/category/hotel/4by3/08.jpg" class="rounded" alt="">
											</a>
										</div>
									</div>
								</div>
								<!--댓글 끝-->
								<hr> <!-- Divider -->
							</div>
						</div>
					</div>
					
					
					
				
				
				
				</div>
			</div>
		</div>
		<!-- Tabs Content END -->
	</div>	
</section>
<!-- =======================
Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a href="index.html">
					<img class="h-40px" src="assets/images/logo-light.svg" alt="logo">
				</a>
				<p class="my-3 text-muted">Departure defective arranging rapturous did believe him all had supported.</p>
				<p class="mb-2"><a href="#" class="text-muted text-primary-hover"><i class="bi bi-telephone me-2"></i>+1234 568 963</a> </p>
				<p class="mb-0"><a href="#" class="text-muted text-primary-hover"><i class="bi bi-envelope me-2"></i>example@gmail.com</a></p>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-8 ms-auto">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Page</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="#">About us</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Contact us</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">News and Blog</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Meet a Team</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Link</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="#">Sign up</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Sign in</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Privacy Policy</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Terms</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Cookie</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Support</a></li>
						</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Global Site</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="#">India</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">California</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Indonesia</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Canada</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Malaysia</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Booking</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="#"><i class="fa-solid fa-hotel me-2"></i>Hotel</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#"><i class="fa-solid fa-plane me-2"></i>Flight</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#"><i class="fa-solid fa-globe-americas me-2"></i>Tour</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#"><i class="fa-solid fa-car me-2"></i>Cabs</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

		</div><!-- Row END -->

		<!-- Tops Links -->
		<div class="row mt-5">
			<h5 class="mb-2 text-white">Top Links</h5>
			<ul class="list-inline text-primary-hover lh-lg">
				<li class="list-inline-item"><a href="#" class="text-muted">Flights</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Hotels</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Tours</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Cabs</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">About</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Contact us</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Blogs</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Services</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Detail page</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Services</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Policy</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Testimonials</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Newsletters</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Podcasts</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Protests</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">NewsCyber</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Education</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Sports</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Tech and Auto</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Opinion</a></li>
				<li class="list-inline-item"><a href="#" class="text-muted">Share Market</a></li>
			</ul>
		</div>

		<!-- Payment and card -->
		<div class="row g-4 justify-content-between mt-0 mt-md-2">

			<!-- Payment card -->
			<div class="col-sm-7 col-md-6 col-lg-4">
				<h5 class="text-white mb-2">Payment & Security</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/paypal.svg" class="h-30px" alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/visa.svg" class="h-30px" alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/mastercard.svg" class="h-30px" alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/expresscard.svg" class="h-30px" alt=""></a></li>
				</ul>
			</div>

			<!-- Social media icon -->
			<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
				<h5 class="text-white mb-2">Follow us on</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>	
			</div>
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<!-- copyright text -->
					<div class="text-muted text-primary-hover"> Copyrights <a href="#" class="text-muted">©2022 Booking</a>. All rights reserved. </div>
					<!-- copyright links-->
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Privacy policy</a></li>
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Terms and conditions</a></li>
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted pe-0" href="#">Refund policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Map modal START -->
<div class="modal fade" id="mapmodal" tabindex="-1" aria-labelledby="mapmodalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title" id="mapmodalLabel">View Our Hotel Location</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Map -->
			<div class="modal-body p-0">
				<iframe class="w-100" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"  style="border:0;" aria-hidden="false" tabindex="0"></iframe>	
			</div>
			<!-- Button -->
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-primary mb-0"><i class="bi fa-fw bi-pin-map-fill me-2"></i>View In Google Map</button>
			</div>
		</div>
	</div>
</div>
<!-- Map modal END -->

<!-- Room modal START -->
<div class="modal fade" id="roomDetail" tabindex="-1" aria-labelledby="roomDetailLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content p-0">

			<!-- Title -->
			<div class="modal-header p-3">
				<h5 class="modal-title mb-0" id="roomDetailLabel">Room detail</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body p-0">

				<!-- Card START -->
				<div class="card bg-transparent p-3">
					<!-- Slider START -->
					<div class="tiny-slider arrow-round arrow-dark overflow-hidden rounded-2">
						<div class="tiny-slider-inner rounded-2 overflow-hidden" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
							<!-- Image item -->
							<div> <img src="assets/images/gallery/16.jpg" class="rounded-2" alt="Card image"></div>

							<!-- Image item -->
							<div> <img src="assets/images/gallery/15.jpg" class="rounded-2" alt="Card image"> </div>

							<!-- Image item -->
							<div> <img src="assets/images/gallery/13.jpg" class="rounded-2" alt="Card image"> </div>

							<!-- Image item -->
							<div> <img src="assets/images/gallery/12.jpg" class="rounded-2" alt="Card image"> </div>
						</div>
					</div>
					<!-- Slider END -->

					<!-- Card header -->
					<div class="card-header bg-transparent pb-0">
						<h3 class="card-title mb-0">Deluxe Pool View</h3>
					</div>

					<!-- Card body START -->
					<div class="card-body">
						<!-- Content -->
						<p>Club rooms are well furnished with air conditioner, 32 inch LCD television and a mini bar. They have attached bathroom with showerhead and hair dryer and 24 hours supply of hot and cold running water. Complimentary wireless internet access is available. Additional amenities include bottled water, a safe and a desk.</p>
						
						<div class="row">
							<h5 class="mb-0">Amenities</h5>

							<!-- List -->
							<div class="col-md-6">
								<!-- List -->
								<ul class="list-group list-group-borderless mt-2 mb-0">
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">Swimming pool</span>
									</li>
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">Spa</span>
									</li>
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">Kids play area.</span>
									</li>
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">Gym</span>
									</li>
								</ul>
							</div>

							<!-- List -->
							<div class="col-md-6">
								<!-- List -->
								<ul class="list-group list-group-borderless mt-2 mb-0">
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">TV</span>
									</li>
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">Mirror</span>
									</li>
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">AC</span>
									</li>
									<li class="list-group-item d-flex mb-0">
										<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">Slippers</span>
									</li>
								</ul>
							</div>
						</div> <!-- Row END -->
					</div>
					<!-- Card body END -->
				</div>
				<!-- Card END -->
			</div>
		</div>
	</div>
</div>
<!-- Room modal END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="assets/vendor/choices/js/choices.min.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/sticky-js/sticky.min.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>

</body>
</html>