<!DOCTYPE html>
<html lang="en">

<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script type="text/javascript">
		var theme = localStorage.getItem('data-theme');
		var root = document.documentElement;
		if (theme === 'dark' && theme !== undefined) {
			root.classList.add('dark-mode');
		} else {
			root.classList.remove('dark-mode');
		}
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/splide-master/dist/css/splide.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/moim-create.css">
	<link rel="stylesheet" type="text/css" href="assets/css/header.css">
	<!--구글 폰트-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		
			

</head>

<body>
		<!-- Header START -->
<header class="header-transparent" id="header">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-dark navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="navbar-brand-item" src="assets/campongimg/campong.png" alt="logo">
			</a>
			<!-- Logo END -->

      <!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto me-3 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<nav class="navbar-collapse collapse nav-item d-flex justify-content-between" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll mx-auto align-items-center ">

					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">캠핑</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							
							<li> <a class="dropdown-item" href="booking-confirm.html">캠핑장</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">백패킹</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">쇼핑</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							
							<li> <a class="dropdown-item" href="booking-confirm.html">쇼핑메인</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">장바구니</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							<li> <a class="dropdown-item" href="booking-confirm.html">게시판</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">캠핑모임</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">캠핑꿀팁</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">교통</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							<li> <a class="dropdown-item" href="booking-confirm.html">렌트카</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">고속버스</a></li>
							<li> <a class="dropdown-item" href="compare-listing.html">열차</a></li>
						</ul>
					</li>
					<!-- Nav item Link -->
					<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">행사</a> </li>
				</ul>
				<!-- 헤더 가운데 끝-->
				<!-- 헤더 오른쪽 -->
				<!--로그인전-->
				 <div class="">
				<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
					<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">로그인</a> </li>
				</ul>
				</div>
				<!-- 로그인후 -->
				<!--<div class="">
					<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
						<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">닉네임</a> </li>
					</ul>
				</div>
				<div class="">
					<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
						<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">로그아웃</a> </li>
					</ul>
				</div>-->
				<!-- 로그인후 끝-->
			</nav>
		
			
			
			
			
			<!--
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
				<li class="nav-item dropdown">
					<li class="nav-item"> <a class="nav-link" href="#" id="nickname" style="color:aliceblue">xx님</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#" id="nickname" style="color:aliceblue">로그아웃</a> </li>
				</li>
			</ul>
			-->
		
			

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>


	<!-- **************** MAIN CONTENT START **************** -->
	<main>


		<!-- -->
		<section class="pt-2 pt-lg-2 mb-0 mt-lg-0">
			<div class="container position-relative">
				<div class="row mt-4">
					<div class="col-12 mt-3 border-bottom">
						<h5 class="detailCamp">캠핑모집 </h5><h5 class="detailSearch"> 등록</h5>
					</div>
					<!--제목 시작-->
					<div class="area col-1 mt-1 pt-1 border-bottom">
						<p>제목</p>
					</div>
					<div class="tema col-11 mt-1 mb-0 border-bottom pt-1">
						<input class="party-title" type="text" />
					</div > 
					<!--제목 끝-->
					<!--모집인원 시작-->
					<div class="col-1 mt-1 pt-2 border-bottom">
						<p>모집인원</p>
					</div>
					<div class="col-11 mt-1 border-bottom">
						<select class="select mt-1">
							<option value="c">3명</option>
							<option value="c">4명</option>
							<option value="c">5명</option>
							<option value="c">6명</option>
						</select>
					</div>
					<!--모집인원 끝-->
					<!--모집나이 시작-->
					<div class="col-1 mt-1 pt-2 border-bottom">
						<p>모집나이</p>
					</div>
					<div class="col-11 mt-1 border-bottom">
						<select class="select mt-1">
							<option>10대</option>
							<option value="a">20대</option>
							<option value="b">30대</option>
							<option value="c">40대</option>
							<option value="c">50대</option>
							<option value="c">60대</option>
							<option value="c">70대</option>
							<option value="c">나이무관</option>
						</select>
					</div>
					<!--모집나이 끝-->
					<!--연락처 시작-->
					<div class="col-1 mt-1 pt-2 border-bottom">
						<p>연락처</p>
					</div>
					<div class="col-11 mt-1 border-bottom">
						<input class="contact mt-1" type="text" placeholder="010-xxxx-xxxx"/>
					</div>
					<!--연락처 끝-->
					<!--모집 기간 시작 -->
					<div class="col-1 mt-1 pt-2 border-bottom">
						<p>모집 기간</p>
					</div>
					<div class="col-11 mt-1 border-bottom">
						<input class="contact mt-1" type="text" placeholder="2023년1월30일"/>
						<span>까지</span>
					</div>
					<!--모집 기간 끝-->
					<!--예상 경비 시작 -->
					<div class="col-1 mt-1 pt-2 border-bottom">
						<p>예상 경비</p>
					</div>
					<div class="col-11 mt-1 border-bottom">
						<input class="ExpenseStart mt-1" type="text" placeholder="20000"/> ~
						<input class="ExpenseEnd mt-1" type="text" placeholder="100000"/>
						<span>원</span>
					</div>
					<!--예상 금액 끝-->
					<!--공지 사항 입력 시작 -->
					<div class="col-1 mt-1 pt-2 ">
						<p>세부 내용</p>
					</div>
					<div class="col-11 mt-1 ">
						<textarea class="sebu" rows="10" cols="130"></textarea>
						<div>* 개인간 거래 행위는 불법으로 간주합니다<br>
						* 작성된 정보는 캠퐁에 수집되며 진행 중인 모임에 문제가 발생한 경우에 해결을 위해 활용 될 수 있습니다.</div>
						<div class="precautions"">* 허위 정보를 작성시 제한 또는 정지 조치를 받을 수 있습니다.</div>
					</div>
				
				</div>
				<div class="registration">
					<a href="#" type="button" class="goList">목록</a>
					<input type="submit" href="#" class="goSubmit" value="등록"></input>
				</div>
			</div>
			<div>
				<button>

				</button>
			</div>

		</section>







		

		

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- =======================
Footer START -->
	<footer class="bg-dark pt-5">
		<div class="container">
			<!-- Row START -->
			<div class="row g-4">

				<!-- Widget 1 START -->
				<div class="col-lg-3">
					<!-- logo -->
					<a href="index.html">
						<img class="h-40px" src="assets/images/logo-light.svg" alt="logo">
					</a>
					<p class="my-3 text-muted">Departure defective arranging rapturous did believe him all had
						supported.</p>
					<p class="mb-2"><a href="#" class="text-muted text-primary-hover"><i
								class="bi bi-telephone me-2"></i>+1234 568 963</a> </p>
					<p class="mb-0"><a href="#" class="text-muted text-primary-hover"><i
								class="bi bi-envelope me-2"></i>example@gmail.com</a></p>
				</div>
				<!-- Widget 1 END -->

				<!-- Widget 2 START -->
				<div class="col-lg-8 ms-auto">
					<div class="row g-4">
						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Page</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#">About us</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Contact us</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">News and Blog</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Meet a Team</a></li>
							</ul>
						</div>

						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Link</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#">Sign up</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Sign in</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Privacy Policy</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Terms</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Cookie</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Support</a></li>
							</ul>
						</div>

						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Global Site</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#">India</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">California</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Indonesia</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Canada</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#">Malaysia</a></li>
							</ul>
						</div>

						<!-- Link block -->
						<div class="col-6 col-md-3">
							<h5 class="text-white mb-2 mb-md-4">Booking</h5>
							<ul class="nav flex-column text-primary-hover">
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-hotel me-2"></i>Hotel</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-plane me-2"></i>Flight</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-globe-americas me-2"></i>Tour</a></li>
								<li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-car me-2"></i>Cabs</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Widget 2 END -->

			</div><!-- Row END -->

			<!-- Tops Links -->
			<div class="row mt-5">
				<h5 class="mb-2 text-white">Top Links</h5>
				<ul class="list-inline text-primary-hover lh-lg">
					<li class="list-inline-item"><a href="#" class="text-muted">Flights</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Hotels</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Tours</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Cabs</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">About</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Contact us</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Blogs</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Services</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Detail page</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Services</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Policy</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Testimonials</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Newsletters</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Podcasts</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Protests</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">NewsCyber</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Education</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Sports</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Tech and Auto</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Opinion</a></li>
					<li class="list-inline-item"><a href="#" class="text-muted">Share Market</a></li>
				</ul>
			</div>

			<!-- Payment and card -->
			<div class="row g-4 justify-content-between mt-0 mt-md-2">

				<!-- Payment card -->
				<div class="col-sm-7 col-md-6 col-lg-4">
					<h5 class="text-white mb-2">Payment & Security</h5>
					<ul class="list-inline mb-0 mt-3">
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/paypal.svg"
									class="h-30px" alt=""></a></li>
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/visa.svg"
									class="h-30px" alt=""></a></li>
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/mastercard.svg"
									class="h-30px" alt=""></a></li>
						<li class="list-inline-item"> <a href="#"><img src="assets/images/element/expresscard.svg"
									class="h-30px" alt=""></a></li>
					</ul>
				</div>

				<!-- Social media icon -->
				<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
					<h5 class="text-white mb-2">Follow us on</h5>
					<ul class="list-inline mb-0 mt-3">
						<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i
									class="fab fa-fw fa-facebook-f"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i
									class="fab fa-fw fa-instagram"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i
									class="fab fa-fw fa-twitter"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i
									class="fab fa-fw fa-linkedin-in"></i></a> </li>
					</ul>
				</div>
			</div>

			<!-- Divider -->
			<hr class="mt-4 mb-0">

			<!-- Bottom footer -->
			<div class="row">
				<div class="container">
					<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
						<!-- copyright text -->
						<div class="text-muted text-primary-hover"> Copyrights <a href="#" class="text-muted">©2022
								Booking</a>. All rights reserved. </div>
						<!-- copyright links-->
						<div class="nav mt-2 mt-lg-0">
							<ul class="list-inline text-primary-hover mx-auto mb-0">
								<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Privacy
										policy</a></li>
								<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Terms and
										conditions</a></li>
								<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted pe-0"
										href="#">Refund policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- =======================
Footer END -->

	<!-- Send Inquiry START -->
	<div class="modal fade" id="inquiryForm" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Title -->
				<div class="modal-header">
					<h5 class="modal-title" id="inquiryFormlabel">Get Inquiry</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<!-- Body -->
				<div class="modal-body p-3">
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header bg-transparent">
							<!-- Title -->
							<h6 class="card-title mb-0">Our expert will get in touch with you shortly</h6>
						</div>

						<!-- Card body -->
						<div class="card-body pt-0">

							<form>
								<!-- Name -->
								<div class="mb-3">
									<label class="form-label">Name</label>
									<input type="text" class="form-control" placeholder="Enter Your name">
								</div>
								<!-- Email -->
								<div class="mb-3">
									<label class="form-label">Email id</label>
									<input type="email" class="form-control" placeholder="Enter Your emil id">
								</div>
								<!-- Phone number -->
								<div class="mb-3">
									<label class="form-label">Phone number</label>
									<input type="text" class="form-control" placeholder="Enter Your phone number">
								</div>

								<div class="mb-3 ms-2 form-check">
									<input type="checkbox" class="form-check-input" id="inquiryCheck">
									<label class="form-check-label" for="inquiryCheck">I agree to receive updates and
										offers</label>
								</div>

								<!-- Buttons -->
								<div class="d-grid gap-2 d-md-block">
									<button class="btn btn-dark mb-0" type="button">Send Inquiry</button>
									<button class="btn btn-link mb-0" type="button">Call on: +123 456 89</button>
								</div>
							</form> <!-- Form END -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Send Inquiry END -->

	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- Bootstrap JS -->
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></scrip>

	<!-- Vendors -->
	<script src="assets/vendor/splide-master/dist/js/splide.min.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.js"></script>

	<!-- ThemeFunctions -->
	<script src="assets/js/functions.js"></script>

</body>

</html>