main {
    padding-top:58px;
}
.area {
    display:inline-block;
}
.party-title {
    width: 500px;
    border:1px solid gray;
    background-color: #f9f9f9;
}
.detailCamp {
    color:#7e69fe;
    display:inline-block;
}
.detailSearch {
    display:inline-block;
    margin-left:10px;
}
.select {
    width: 200px;
    height: 30px;
    
    border:1px solid gray;
    background-color: #f9f9f9;
}
.contact {
    
    border:1px solid gray;
    background-color: #f9f9f9;
}
.ExpenseStart {
    
    border:1px solid gray;
    background-color: #f9f9f9;
}
.ExpenseEnd {
    
    border:1px solid gray;
    background-color: #f9f9f9;
}  
.precautions {
    color: red;
}
.sebu {
    
    background-color: #f9f9f9;
}
.registration {
    margin-top:20px;
    text-align: center;
}
.goList {
    width:240px;
    height:70px;
    border:1px solid#7e69fe;
    line-height: 70px;
    border-radius:5px;
}
.goSubmit {
    background-color:#7e69fe;
    color:white;
    width:240px;
    height:70px;
    border:1px solid#7e69fe;
    line-height: 70px;
    border-radius:5px;
}
.header-transparent {
    position: fixed;
    background-color:#7e69fe;
    color: white;
}