.item-title {
    margin-top : 30px;
}
.item-price {
    display : inline-block;
}
.item-amount {
    width : 50px;
    margin-left: 250px;
}
.check-item {
    display : inline-block;
    margin-right: 20px;
}
.item-image {
    display: inline-block;
    width: 140px;
    margin-top:5px;
}
.item-box {
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    border-top :1px solid rgb(206, 194, 194);
}
.hi {
    margin-left :360px;
}
.check-all {
    margin-left :9px;
}
.item-total {
    padding-left:30px;
    padding-top:25px;
    border-left:1px solid rgb(206, 194, 194);
    text-align:center;
}
.order {
    border-color:white;
    background-color:rgb(86, 182, 86);
    color:white;
    border-radius:3px;
}
.jumun {
    text-align: center;
    width: 600px;
    margin:auto;
}
.pagination {
    justify-content: center;
}
.go-shopping {
    width:200px;
    height:50px;
    background-color:white;
    border:1px solid gray;
}
.go-order {
    width:200px;
    height:50px;
    color:white;
    background-color:#03c75a;
    border: 1px solid gray;
}
.alll {
    margin-left:5px;
    color:black;
}
.delete {
    font-size:15px;
    margin-top:5px;
    height:25px;
    background-color:red;
    color:white;
    border: 1px solid gray;
    margin-bottom:5px;
}